body {
  font-size: 15px;
}

.sidebar {
  /*background: grey;*/
}

.main {
  /*background: skyblue;*/
}

.name {
  font-weight: bold;
}

.company {
  font-weight: bold;
}

.search-container {
  background: #DDD;
  padding: 10px 0;
  margin-bottom: 10px;
}
